* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/background.svg),
    linear-gradient(90deg, #597083 0%, #4372df 100%);
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header img {
  max-width: 90vw;
  height: auto;
}

.game-mode {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode {
  display: flex;
  align-items: center;
  margin: 1rem;
  border: 1px solid rgb(71, 67, 67);
  border-radius: 20px;
  padding: 20px;
}

.mode-image {
  height: 150px;
}

span {
  font-family: "Bangers", system-ui;
  font-size: 3rem;
  margin: 0 1rem;
}

.mode {
  transition: transform 0.3s ease;
}

.mode:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.d-none {
  display: none !important;
}

/* Board styling */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.score-board {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.board {
  margin: 30px 0px;
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.cell:nth-child(3n + 2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cell:nth-child(n + 4):nth-child(-n + 6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.buttons {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 30px;
}

.button-control {
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
  background-color: #9180c6;
}

.button-control:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}